<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agentzengyu.spacewar">

    <application
        android:name=".application.SpaceWarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ShopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="landscape" />

        <initService
            android:name=".initService.InitService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".activity.LoadingActivity$LoadingReceiver" />

        <initService
            android:name=".initService.PlayerService"
            android:enabled="true"
            android:exported="true" />
        <initService
            android:name=".initService.MapService"
            android:enabled="true"
            android:exported="true" />
        <initService
            android:name=".initService.EnemyService"
            android:enabled="true"
            android:exported="true"></initService>
    </application>

</manifest>